<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ImdbWebApp</title>
    <link type="text/css" rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <div class="NavBar">

    </div>
    <div class="main-content">
            @RenderBody()
        
    </div>
    
</body>
</html>
